<html>

<head>
    <title>Online Booking</title>
    <link rel="stylesheet" href="boot.css">
    <link rel="stylesheet" href="custom.css">
</head>
<style>
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #1287cd solid 2px;
    background-color: #1287cd;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.circle > .tooltiptext {
    visibility: hidden;
    min-width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.circle:hover > .tooltiptext {
    visibility: visible;
}
</style>
<body style="width: 500px; margin-bottom: 20px;">
    <h3 align="center">Smart Online Dashboard</h3>
    <div ng-app="app" ng-controller="TopController as top">
        <div class="container">
            <!-- Dropdown -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control" id="sel1" ng-model="top.item" ng-change="top.itemSelected(top.item)">
                            <option value="cnote">C-note Detail</option>
                            <option value="efr">EFR Details</option>
                            <option value="pin">Pincode Details</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Dropdown ends-->
            <!-- C-note -->
            <div ng-if="top.cnote">
                <div class="form-group">
                    <label for="cnote">Enter C-note / Ref No. :</label>
                    <input type="text" class="form-control" id="cnote" ng-model="top.cnoteNum">
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" ng-click="top.submitCnote(top.cnoteNum)">Submit</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-repeat="(key, value) in top.cnoteArr track by $index">
                            <button class="btn btn-danger" data-toggle="collapse" data-target="#demo{{$index}}">Ref : {{value.AWBNo}}</button>
                            <div id="demo{{$index}}" class="collapse">
                                <div style="display: grid">
                                    <div ng-repeat="(key1, value1) in value" class="cnote-list" style="">
                                        <div><b>{{key1}} :</b></div>
                                        <div ng-if="key1 == 'srcAddress' || key1 == 'dstAddress'">{{value1.name}}
                                            <br>{{value1.addressLine1}}
                                            <br>{{value1.addressLine2}}
                                            <br>{{value1.cityName}},{{value1.stateName}}
                                            <br>{{value1.pincode}}
                                        </div>
                                        <div ng-if="key1 != 'srcAddress' && key1 != 'dstAddress' && key1 != 'PUOrRequestTimestamp'">
                                            {{value1}}
                                        </div>
                                        <div ng-if="key1 == 'PUOrRequestTimestamp'">
                                            <rs-time start-time="value1" digital-format="'d MMM  h:mm TT'"></rs-time>
                                        </div>
                                        <br>
                                    </div>
                                    <div class='circle' ng-repeat="(key2, value2) in value['statusStack']">
                                        <span class='tooltiptext'>| {{value2.status}} |<br>| {{value2.txnTimestamp}} |<br>| {{value2.doneBy}} |<br>| {{value2.comment}} |</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- C-note ends-->
            <!-- EFR code -->
            <div ng-if="top.efr">
                <div class="form-group">
                    <label for="efr">Enter Username:</label>
                    <input type="text" class="form-control" id="efr" ng-model="top.efrNum">
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" ng-click="top.submitEfr(top.efrNum)">Submit</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p ng-repeat="(key, value) in top.efrData"><b>{{key}} :</b> {{value}}</p>
                    </div>
                </div>
            </div>
            <!-- EFR code ends-->
            <!-- Pincode details -->
            <div ng-if="top.pin">
                <table class="table">
                    <tr>
                        <td style="border-color: #fff">
                            <div class="form-group">
                                <label for="spin">Source pincode:</label>
                                <input type="text" class="form-control" id="spin" ng-model="top.pinNum.source">
                            </div>
                        </td>
                        <td style="border-color: #fff">
                            <div class="form-group">
                                <label for="spin">Destination pincode:</label>
                                <input type="text" class="form-control" id="spin" ng-model="top.pinNum.dest">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color: #fff">
                            <p ng-repeat="(key, value) in top.pinData.src"><b>{{key}} - </b>{{value}}</p>
                        </td>
                        <td style="border-color: #fff">
                            <p ng-repeat="(key, value) in top.pinData.dst"><b>{{key}} - </b>{{value}}</p>
                        </td>
                    </tr>
                </table>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" ng-click="top.submitPin(top.pinNum)">Submit</button>
                </div>
            </div>
        </div>
        <!-- Pincode details ends-->
    </div>
    </div>
    <script src="lib.js"></script>
    <script src="app.js"></script>
    <script src="jquery.min.js"></script>
    <script src="boot.js"></script>
    <script type="text/javascript" src="myTime.js"></script>
</body>

</html>
